<!--Jumbotron-->

<section class="bg-center bg-no-repeat" style="background-image: url('assets/img/Puresteel-background-about.jpg'); background-size: cover;">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">About Puresteel</h1>
    </div>
</section>



<!--Jumbotron-->


<div class="flex flex-row m-40 justify-center">
    <div class="basis-3/4">
        <h1 class="font-bold text-5xl">WHO WE ARE</h1>
        <p class="mt-10">Puresteel Manufacturing Corporation is a Steel Manufacturing Company that manufactures and markets steel products throughout the Philippines. We aim for quality, sustainability, and durability in manufacturing steel. We continuously innovate and adapt to new technology to become globally competitive with the market. We strive for excellence to deliver high-quality products and achieve maximum customer satisfaction.</p>
        <p class="mt-10">Puresteel Manufacturing Corporation is a Steel Manufacturing Company that manufactures and markets steel products throughout the Philippines. We aim for quality, sustainability, and durability in manufacturing steel. We continuously innovate and adapt to new technology to become globally competitive with the market. We strive for excellence to deliver high-quality products and achieve maximum customer satisfaction.</p>
    </div>
    <div class="basis-1/4">
        <img src="/assets/img/b-mac-for-about.png" alt="Man giving thumbs up">
        
    </div>
</div>
